html, body {
  background: -webkit-linear-gradient(#4b5660, #223145); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4b5660, #223145); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4b5660, #223145); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4b5660, #223145); /* Standard syntax */
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.container {
  height: 100%;
  position: relative;
}
#board {
  display: block;
  height: 100%;
  display: table;
  margin: 0 auto;
}
#game-over {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  text-align: center;
  color: #fff;
}
#game-over .container {
  position: relative;
  top: 40%;
}
#game-over h2 {
  font: 40px Helvetica, Arial, Sans-Serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#game-over a {
  color: #fff;
  font: 18px Helvetica, Arial, Sans-Serif;
  text-transform: uppercase;
}